<footer>

  <!-- Mobile footer -->
  <div class="md:hidden bg-black text-white text-center">
    <ul class="grid grid-cols-2 text-sm px-4 py-6 gap-3">
      <li>Buscador de Tiendas</li>
      <li>Devoluciones</li>
      <li>Dudas Frecuentes</li>
      <li>Guía de Tallas</li>
      <li>Mapa del Sitio</li>
      <li>Pago</li>
      <li>Envío</li>
    </ul>
  </div>

  <!-- Desktop footer -->
  <div class="hidden md:grid grid-cols-5 py-4 gap-2 px-20">

    <!-- Productos -->
    <div>
      <h3 class="font-bold text-lg py-2">PRODUCTOS</h3>
      <ul class="text-sm">
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Calzado
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Zapatillas
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Ropa
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Accesorios
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Botines
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Rompevientos
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Conjuntos
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Ojotas
          </a>
        </li>
        <li class="py-0.5 mt-4">
          <a class="hover:underline" href="#">
            Novedades
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Black Friday
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Outlet
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Hot Sale
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Cyber Monday
          </a>
        </li>
        <li class="py-0.5 mt-4">
          <a class="hover:underline" href="#">
            adiClub
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            adidas app
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            adidas Runners
          </a>
        </li>
      </ul>
    </div>

    <!-- Deportes -->
    <div>
      <h3 class="font-bold text-lg py-2">DEPORTES</h3>
      <ul class="text-sm">
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Selección Argentina
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            River Plater
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Boca Juniors
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Fútbol
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Running
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Básquet
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Training
          </a>
        </li>
        <h3 class="font-bold text-lg py-2">COLECCIONES</h3>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Ultraboost
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Stan Smith
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            adicolor
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Superstar
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Originals
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Forum
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Colección Black & White
          </a>
        </li>
      </ul>
    </div>

    <!-- Asistencia -->
    <div>
      <h3 class="font-bold text-lg py-2">ASISTENCIA</h3>
      <img
        src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/footer_general_boton_de_ayuda_tcm216-840664.png"
        alt="devoluciones">
      <ul class="text-sm">
        <li class="py-0.5 mt-4">
          <a class="hover:underline" href="#">
            Dudas Frecuentes
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Realizar Pedidos
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Productos adidas
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Pago
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Envío
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Autogestionar mi Devolución
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Devoluciones
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Cambio en Tiendas
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Como Usar Nuestro Sitio
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Como Saber el Talle de tu Bra
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Guía de Tallas
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Mapa del Sitio
          </a>
        </li>
      </ul>
    </div>

    <!-- Información -->
    <div>
      <h3 class="font-bold text-lg py-2">INFORMACIÓN DE LA EMPRESA</h3>
      <ul class="text-sm">
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Acerca de adidas
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Trabaja en Nuestro Equipo
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Prensa
          </a>
        </li>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Información Corporativa
          </a>
        </li>
        <h3 class="font-bold text-lg py-2">TIENDAS</h3>
        <li class="py-0.5">
          <a class="hover:underline" href="#">
            Buscador de Tiendas
          </a>
        </li>
        <a href="#">
          <img class="w-8/12 mt-1"
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/Escudo_tcm216-840715.png"
            alt="Award">
        </a>
        <a href="#">
          <img
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/Codigo-QR_tcm216-840714.png"
            alt="QR">
        </a>
      </ul>
    </div>

    <!-- Seguinos -->
    <div>
      <h3 class="font-bold text-lg py-2">SEGUINOS</h3>
      <ul class="text-sm">
        <li class="py-1">
          <a href="#">
            <img
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/NEWfacebook_image_footer_tcm216-875964.png"
              alt="Facebook">
          </a>
        </li>
        <li class="py-1">
          <a href="#">
            <img
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/NEWinstagram_logo-footer_tcm216-875968.png"
              alt="Instagram">
          </a>
        </li>
        <li class="py-1">
          <a href="#">
            <img
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/NEWBlack-icon-Twitter-logo-transparent-PNG_tcm216-875966.png"
              alt="Twitter">
          </a>
        </li>
        <li class="py-1">
          <a href="#">
            <img
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/NEWpinterest_logo_footer_tcm216-875965.png"
              alt="Pinterest">
          </a>
        </li>
        <li class="py-1">
          <a href="#">
            <img
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/NEWtiktok-black-share-icon1189_tcm216-875969.png"
              alt="Tik Tok">
          </a>
        </li>
        <li class="py-1">
          <a href="#">
            <img
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/NEWyoutube_icon_footer_tcm216-875967.png"
              alt="Youtube">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="bg-[#282c31] text-gray-400 px-4 text-xs">
    <div>
      <ul class="grid grid-cols-2 gap-4 text-center md:flex justify-evenly py-6">
        <li>Configuración de las cookies</li>
        <li>Nuestros Datos</li>
        <li>Términos y Condiciones</li>
        <li>Política de Cookies</li>
        <li>Política de Privacidad</li>
        <li>Seleccionar País</li>
        <li>Reclamos</li>
      </ul>
    </div>
    <p class="text-center py-4">© 2023 adidas Argentina</p>
  </div>

</footer>
