<main>
  <body>

    <!-- First image for mobile -->
    <div class="lg:hidden bg-no-repeat bg-cover"
      style="background-image: url('https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_600,w_600/esAR/Images/always-originals-mh-m_tcm216-1002902.jpg'); height: 576px;">
      <div class="flex flex-col justify-end lg:justify-center h-full pl-4 pb-4 lg:pl-20">
        <h2 class="text-white text-2xl lg:text-5xl font-bold">SIEMPRE ORIGINAL</h2>
        <p class="text-white py-2 pb-4">Fiel a lo que te inspira</p>
        <div>
          <button type="button"
            class="text-black font-semibold bg-white focus:text-gray-500 px-5 py-2.5 text-center inline-flex justify-between">
            COMPRAR AHORA
            <svg aria-hidden="true" class="w-6 h-6 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- First image for desktop -->
    <div class="hidden lg:block bg-no-repeat bg-cover"
      style="background-image: url('https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/esAR/Images/always-originals-mh-d_tcm216-1002905.jpg'); height: 576px;">
      <div class="flex flex-col justify-end lg:justify-center h-full pl-4 pb-4 lg:pl-20">
        <h2 class="text-white text-2xl lg:text-5xl font-bold">SIEMPRE ORIGINAL</h2>
        <p class="text-white py-2 pb-4">Fiel a lo que te inspira</p>
        <div>
          <button type="button"
            class="text-black font-semibold bg-white focus:text-gray-500 px-5 py-2.5 text-center inline-flex justify-between">
            COMPRAR AHORA
            <svg aria-hidden="true" class="w-6 h-6 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

  </body>
</main>
